$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// CUSTOM FONTS
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300);
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300,700);
$fontStack: 'Open Sans', sans-serif;
$brandingFont: 'Comfortaa', cursive;

/**
 * Media Queries
 */
  $px-768:  (min-width: 768px);
  $px-992:  (min-width: 992px);
  $px-1200: (min-width: 1200px);

/**
 * Colours
 */
  $myWhite: #fefefe;
  $myBlack: #1a1a1a;
  $myRed:   #E32E27;

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, 
body {
  height: 100%;
}

body {
  font-family: $fontStack!important;
  padding: 0;
  letter-spacing: 0.2em;
  margin-top: 71px;
}

.container {
  width: 100%;
  padding: 0;

  .heart {
    float: right;
    margin: 10px 0;
  }

  a.logo {
    font-size: 35px;
    color: $myBlack!important;
    margin-left: -30px;

    &:hover {
      text-decoration: none;
    }

    @include breakpoint(md) {
      margin: 0px;
    }

    img {
      margin: 0px;

      @include breakpoint(md) {
        margin: 0px;
      }
    }
  }

  .nav {
    display: inline-block;

    @include breakpoint(md) {
      display: block;
    }
  }

  .navbar-header {
    margin: 0px;
    display: inline-block;
    float: left;

    @include breakpoint(md) {
      display: block;
      float: none;
    }
  }
}

.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  .nav {
    text-align: center;
  }
}

.navbar {
  z-index: 15;
  margin-bottom: 0px;
  padding: 10px 35px;

  li {
    a{
      text-transform: uppercase;
      color: $myBlack!important;
      letter-spacing: 0.25em;
      font-size: 12px;
    }
  }

  .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar-toggle {
    float: left!important;
  }

  .navbar-collapse {
    text-align: center;
    margin: 0px!important;
  }
}

// MAIN
.main {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  padding: 75px 10%;
  color: $myWhite;
  // background: url('https://36.media.tumblr.com/7c497bac3d91448eacd9c957bbd9011f/tumblr_mtpbc2rIVq1qhtc4xo1_500.jpg') no-repeat;
  background-size: cover;

  h1 {
    font-family: $brandingFont;
    font-size: 55px;
    font-weight: 300;
    color: $myRed;
    display: inline-block;
    padding: 20px;
    padding-bottom: 5px;
    margin-bottom: 0px;

    @include breakpoint(md) {
      font-size: 75px;
    }
  } 
  h2 {
    color: $myBlack;
    margin-bottom: 25px!important;
    font-size: 23px;
    font-weight: 100;
    margin-top: 0px;
    color: lighten($myBlack, 30%);

    @include breakpoint(md) {
      font-size: 25px;
    }
  }

  .input-group {
    color: lighten($myBlack, 30%);
    width: 100%;
    // margin: 0px auto;

    .searchIcon {
      position: absolute;
      top: 25px;
      z-index: 10;
      right: 30px;
    }

    ::-webkit-input-placeholder { /* WebKit browsers */ color: $myBlack;}
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: $myBlack; opacity:  1;}
    ::-moz-placeholder { /* Mozilla Firefox 19+ */ color: $myBlack; opacity:  1;}
    :-ms-input-placeholder { /* Internet Explorer 10+ */ color: $myBlack;}

    input {
      border: solid 1px lighten($myBlack, 30%);
      border-radius: 100px!important;
      letter-spacing: 0.06em;
    }

    .form-control {
      margin-bottom: 10px;
      height: 75px;
      font-size: 14px;
      padding-left: 35px;
      text-align: left;

    @include breakpoint(md) {
      font-size: 18px;
    }

    }
  }

  .searchResults {
      a {
        color: $myRed!important;

        &:hover {
          color: $myRed!important;
        }
      }

    .searchResult {
      color: $myBlack;
      border: solid 1px $myBlack;
      // background: rgba(255, 255, 255, 0.8);
      padding: 30px;
      margin: 10px 0px;

      &:hover {
        color: $myRed;
        background: rgba(255, 255, 255, 0.9);
      }
    }
  }
}

// celeb profile

.searchCeleb {
  top: 15px;
  z-index: 10;

  .input-group .searchIcon {
    top: 10px!important;
  }

  .input-group .form-control {
    height: 45px!important;
  }
}

.celebrityProfile {

  margin-top: 50px;

  .top {
    background: $myRed;
    color: $myWhite;
    padding: 50px;
    text-transform: uppercase;
  }

  h1 {
    font-weight: 600;
    font-size: 20px;

    @include breakpoint(md) {
      font-size: inherit;
    }
  }
  h2 {
    font-weight: 100;
    font-size: 16px;

    @include breakpoint(md) {
      font-size: inherit;
    }
  }

  .profilePicture {
    margin: 20px 0 0px 0;
    padding: 0px;

    h1 {
      margin-top: 0px;
      font-weight: 600;
      font-size: 18px;
      text-align: left;
      text-transform: capitalize;
    }

    h2.followButton {
      margin-top: 15px;
      border-radius: 20px;
      font-size: 12px;
      text-transform: uppercase;
      color: red;
      border: solid 1px red;
      display: inline-block;
      padding: 10px 45px;
    }
    .profileStats {
      margin-top: 10px;
      letter-spacing: 0;
      font-size: 16px;
      display: inline-block;
      border: solid 1px;
      padding: 5px 15px;

      .followersTitle {
        margin: 5px 0px!important;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 800;
      }

      p {
        font-size: 8px;
      }
    }

    img.profilePicture {
      max-width: 400px;
      width: 100%;
      height: auto;
    }

    .description {
      padding: 25px;

      @include breakpoint(md) {
        padding: 50px 300px;
      }
    }
  }

  .profileDetails {
    padding-top: 20px;
    text-align: left;
  }

  .productWrapper {

    h1.productTitle {
      font-size: 16px;
    }

    img.saveItem {
      margin: 0 auto;
      position: absolute;
      top: 85%;
      right: 10%;
    }
  }
}

// SAVED

.savedItemsPage {

  margin-bottom: 50px;
  text-align: center;

  h1.productTitle {
    font-size: 16px;
  }

  .product {
    text-align: center;
  }

  img {
    margin: 0 auto;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

