<div class="main">
  <h1>Celebr</h1>

    <form class="form-inline" role="form">
      <div class="form-group col-sm-12">

        <div class="input-group">
            <label class="sr-only" for="">Search for Celebrity...</label>
            <input ng-model="search" ng-click="showResults = ! showResults" type="search" class="form-control" id="enterCeleb" placeholder="Search for Celebrity...">

          <div class="searchResults col-lg-12">
            <!-- result iterator -->
            <a ng-show="showResults" ng-repeat="celeb in celebs | filter:search" href=" /#/celebrity/{{ celeb.uri }} ">
              <div class="searchResult col-sm-12">
                <p>{{ celeb.name }}</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </form>

</div>