<div class="main">
  <h1>Celebr</h1>

  <div ng-controller="MainCtrl">
    <form class="form-inline" role="form">
      <div class="form-group col-sm-12">

        <div class="input-group">
            <label class="sr-only" for="">Search for Celebrity...</label>
            <input ng-model="search" type="search" class="form-control" id="enterCeleb" placeholder="Search for Celebrity...">
        <ul>
          <li ng-repeat="celeb in celebs | filter:search">
              {{ celeb }}
          </li>
        </ul>
        </div>


      </div>
    </form>
  </div>

</div>