<div class="title">
	<a href="##" onclick="window.location.href='../'" class="backButton"><img class="cross" src="../images/xIcon.png" alt=""></a>
	<h1>Wishlist</h1>
</div>

<div class="col-xs-12 text-center wishList" style="padding: 0px; "ng-repeat="p in products">
	<div class="col-xs-12 savedItemsPage">
		<div class="col-xs-6 product">
			<div class="commentsBox">
					<p>
						Lorem ipsum
					</p>
			</div>
			<div class="imageWrapper">
				<a href="{{ p.uri }}">
					<img src="{{ p.image }}" alt="{{ p.uri }}" class="img-responsive">
				</a>
			</div>
		</div>

	  <div class="col-xs-6 productTitleWrapper">
			<p class="savedTitle">{{ p.title }}</p>
			<p>
				{{ p.price | currency }}
			</p>
			<img ng-click="saveItem()" src="../images/trashCan.png" alt="{{ product.uri }}" width="30px" height="auto">
		</div>

	</div>
</div>